/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #005f73; /* Tonos inspirados en el cielo y los paisajes de Guatemala */
    color: white;
}

.logo img {
    width: 80px;
    height: auto;
}

header h1 {
    font-size: 2rem;
}

header nav a {
    margin-right: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-color: #0a9396; /* Verde vibrante para enlaces */
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #94d2bd;
}

/* Hero Section */
.hero {
    margin: 20px 0;
}

.hero-img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: none;
}

/* Text Section */
h2 {
    text-align: center;
    margin-bottom: 25px;
}

.text-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.text-box {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.text-box:hover {
    background-color: #87c3ff;
    transition: background-color 0.3s;
}

/* CTA Section */
.cta-section {
    padding: 40px 0;
}

.cta {
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #e9d8a6; /* Color cálido para destacar */
    border-radius: 10px;
    font-size: 1.2rem;
}

/* Grid */
.grid {
    display: flex;
    justify-content: space-between;
}

.grid-item {
    width: 23%;
    text-align: center;
}

.grid-item .image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #e29578; /* Color vibrante para los cuadros de imagen */
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Signup CTA Section */
.signup-cta {
    margin: 40px 0;
    text-align: center;
}

.signup-cta input {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.signup-cta button {
    padding: 10px 20px;
    background-color: #ee9b00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-cta button:hover {
    background-color: #ca6702;
}

/* Footer Section */
footer {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
    background-color: #005f73;
    color: white;
}

footer p {
    margin-bottom: 10px;
}

footer p:hover {
    color: #94d2bd;
}
